.q-status {}
.q-status .q-status-views {}
.q-status .q-status-votes {}
.q-status .q-status-ans {}

.q-status .badge-md {
    min-width: 80px;
}
.badge-md {
    border: 1px solid #ddd;
    background: #fff;
    color: #333;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 400;
}

.q-status .badge-md.is-ansed {
    border-color: #45A163;
    color: #45A163;
}
.q-status .badge-md.ans-is-accepted {
    border-color: transparent;
    background-color: #45A163;
    color: #ffffff;
}

.q-status .badge-md.no-votes {}
.q-status .badge-md.has-votes {
    border-color: #3490dc;
    color: #3490dc;
}
.q-status .badge-md.neg-votes {
    border-color: transparent;
    background-color: #e3342f;
    color: #ffffff;
}

.q-status .badge-md.no-views {}
.q-status .badge-md.has-views {
    border-color: #3490dc;
    color: #3490dc;
}